.navbar-fixed-top {
	min-height:85px;
}

.navbar-right {
	padding-right: 8%;
	padding-top: 15px;
}

.iitd_logo {
	padding-left: 50%;
}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#1b5bc1;
  padding:0;  
  font-family:inherit;
  font-size:inherit;
}

.btn-link:active{
  color:#71507a;
}

.btn-link:hover{
  color:#213e6d;
  text-decoration:underline;
}


